:root{--empty-text__background:#eef6f8}.empty-text{background-color:#eef6f8;background-color:var(--empty-text__background);display:inline-block;width:100%;height:1em}
.card-list{position:relative;z-index:0;overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;-webkit-scroll-snap-type:mandatory;-ms-scroll-snap-type:mandatory;scroll-snap-type:mandatory;-webkit-scroll-snap-points-x:repeat(100%);-ms-scroll-snap-points-x:repeat(100%);scroll-snap-points-x:repeat(100%);-webkit-scroll-snap-type:x mandatory;-ms-scroll-snap-type:x mandatory;scroll-snap-type:x mandatory;margin-left:-1.0666666667rem;margin-right:-1.0666666667rem;padding-top:1.0666666667rem;margin-top:-1.0666666667rem;padding-bottom:2.1333333333rem;margin-bottom:-2.1333333333rem}.card-list__list{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex}@media screen and (min-width: 76.5em){.card-list--wrap.card-list--length-3 .card-list__list{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}}@media screen and (min-width: 75em){.card-list--wrap.card-list--length-4 .card-list__list{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}}.card-list__list:before,.card-list__list:after{display:block;content:"";width:1.0666666667rem;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}.card-list__card{position:relative;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}.card-list__card+.card-list__card{margin-left:1.0666666667rem}@media screen and (min-width: 76.5em){.card-list--wrap.card-list--length-3 .card-list__card:nth-child(3n+4){margin-left:1.0666666667rem}}@media screen and (min-width: 76.5em){.card-list--wrap.card-list--length-3 .card-list__card:nth-child(1n+4){margin-top:2.1333333333rem}}@media screen and (min-width: 75em){.card-list--wrap.card-list--length-4 .card-list__card:nth-child(4n+5){margin-left:1.0666666667rem}}@media screen and (min-width: 75em){.card-list--wrap.card-list--length-4 .card-list__card:nth-child(1n+5){margin-top:2.1333333333rem}}.card-list__card--equal-height>*{min-height:100%}.card-list__peek-button{height:100%;left:-1.0666666667rem;position:absolute;top:0;width:-webkit-calc(100% + 2.1333333333rem);width:calc(100% + 2.1333333333rem)}.card-list__card:first-child .card-list__peek-button{left:0;width:-webkit-calc(100% + 1.0666666667rem);width:calc(100% + 1.0666666667rem)}.card-list__card:last-child .card-list__peek-button{width:-webkit-calc(100% + 1.0666666667rem);width:calc(100% + 1.0666666667rem)}.static .card-list__peek-button{display:none}.card-list__card-set{position:absolute;top:0;bottom:0;scroll-snap-align:center;scroll-snap-stop:always;z-index:-1;pointer-events:none}.card-list--length-3 .card-list__card{max-width:26.6666666667rem;width:-webkit-calc(100% - 2.1333333333rem - 1.6rem);width:calc(100% - 2.1333333333rem - 1.6rem)}@media screen and (min-width: 50.5em){.card-list--length-3 .card-list__card{width:-webkit-calc(50% - 1.6rem - 0.8rem);width:calc(50% - 1.6rem - 0.8rem)}}@media screen and (min-width: 76.5em){.card-list--length-3 .card-list__card{width:-webkit-calc(33.3333333333% - 2.4888888889rem - 0px);width:calc(33.3333333333% - 2.4888888889rem - 0px)}}@media screen and (min-width: 76.5em){.card-list--length-3 .card-list__card+.card-list__card{margin-left:2.6666666667rem}.card-list--length-3 .card-list__peek-button{left:-2.6666666667rem;width:-webkit-calc(100% + 5.3333333333rem);width:calc(100% + 5.3333333333rem)}.card-list--length-3 .card-list__card:first-child .card-list__peek-button{left:0;width:-webkit-calc(100% + 2.6666666667rem);width:calc(100% + 2.6666666667rem)}.card-list--length-3 .card-list__card:last-child .card-list__peek-button{width:-webkit-calc(100% + 2.6666666667rem);width:calc(100% + 2.6666666667rem)}}.card-list--length-4 .card-list__card{max-width:19.3333333333rem;width:-webkit-calc(100% - 2.1333333333rem - 1.6rem);width:calc(100% - 2.1333333333rem - 1.6rem)}@media screen and (min-width: 36.75em){.card-list--length-4 .card-list__card{width:-webkit-calc(50% - 1.6rem - 0.8rem);width:calc(50% - 1.6rem - 0.8rem)}}@media screen and (min-width: 55.875em){.card-list--length-4 .card-list__card{width:-webkit-calc(33.3333333333% - 1.4222222222rem - 0.5333333333rem);width:calc(33.3333333333% - 1.4222222222rem - 0.5333333333rem)}}@media screen and (min-width: 75em){.card-list--length-4 .card-list__card{width:-webkit-calc(25% - 2.5333333333rem - 0px);width:calc(25% - 2.5333333333rem - 0px)}}@media screen and (min-width: 75em){.card-list--length-4 .card-list__card+.card-list__card{margin-left:2.6666666667rem}.card-list--length-4 .card-list__peek-button{left:-2.6666666667rem;width:-webkit-calc(100% + 5.3333333333rem);width:calc(100% + 5.3333333333rem)}.card-list--length-4 .card-list__card:first-child .card-list__peek-button{left:0;width:-webkit-calc(100% + 2.6666666667rem);width:calc(100% + 2.6666666667rem)}.card-list--length-4 .card-list__card:last-child .card-list__peek-button{width:-webkit-calc(100% + 2.6666666667rem);width:calc(100% + 2.6666666667rem)}}
:root{--card__footer-link-color:#56616c}.card{background-color:#ffffff;background-color:var(--theme-background-primary);border-radius:8px;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-shadow:0
0.3px
0.9px
rgba(33, 41, 43, 0.04)
,
0
0.9px
3.1px
rgba(33, 41, 43, 0.07)
,
0
4px
14px
rgba(33, 41, 43, 0.1);-webkit-box-shadow:var(--theme-box-shadow);box-shadow:0
0.3px
0.9px
rgba(33, 41, 43, 0.04)
,
0
0.9px
3.1px
rgba(33, 41, 43, 0.07)
,
0
4px
14px
rgba(33, 41, 43, 0.1);box-shadow:var(--theme-box-shadow);overflow:hidden}.static .card:hover,.dynamic.is-hovering .card:hover,.static .card:focus,.dynamic.is-tabbing .card:focus{-webkit-box-shadow:0
0.6px
0.9px
rgba(33, 41, 43, 0.07)
,
0
2px
3.1px
rgba(33, 41, 43, 0.07)
,
0
9px
14px
rgba(33, 41, 43, 0.25);-webkit-box-shadow:var(--theme-box-shadow-elevated);box-shadow:0
0.6px
0.9px
rgba(33, 41, 43, 0.07)
,
0
2px
3.1px
rgba(33, 41, 43, 0.07)
,
0
9px
14px
rgba(33, 41, 43, 0.25);box-shadow:var(--theme-box-shadow-elevated)}.static .card:focus-within,.dynamic.is-tabbing .card:focus-within{-webkit-box-shadow:0
0.6px
0.9px
rgba(33, 41, 43, 0.07)
,
0
2px
3.1px
rgba(33, 41, 43, 0.07)
,
0
9px
14px
rgba(33, 41, 43, 0.25);-webkit-box-shadow:var(--theme-box-shadow-elevated);box-shadow:0
0.6px
0.9px
rgba(33, 41, 43, 0.07)
,
0
2px
3.1px
rgba(33, 41, 43, 0.07)
,
0
9px
14px
rgba(33, 41, 43, 0.25);box-shadow:var(--theme-box-shadow-elevated)}.card__header{display:-ms-grid;display:grid;-ms-grid-rows:1.8666666667rem auto;-ms-grid-columns:1fr auto;grid-template:"title infobutton" 1.8666666667rem " subtitle subtitle" auto/1fr auto;margin-bottom:1.0666666667rem}.card__header-title{-ms-grid-row:1;-ms-grid-column:1;grid-area:title;font-size:1.1333333333rem;font-weight:500;line-height:1.6rem;margin-bottom:.2666666667rem}.card__header-subtitle{-ms-grid-row:2;-ms-grid-column:1;-ms-grid-column-span:2;grid-area:subtitle;font-size:.8666666667rem;font-weight:400;line-height:1.2rem;color:#56616c;color:var(--theme-text-secondary)}.card__header-info-button{-ms-grid-row:1;-ms-grid-column:2;grid-area:infobutton;min-width:0}.card__content--with-margin{margin:1.0666666667rem}.card__error{font-size:.8666666667rem;font-weight:400;line-height:1.2rem;background-color:#eef6f8;background-color:var(--theme-background-secondary);color:#c60000;color:var(--theme-text-error);display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center;position:relative;padding:5.3333333333rem 2.6666666667rem;max-height:254px}.card__error--small{padding:.5333333333rem 1.0666666667rem}.card__error-icon{color:#c60000;color:var(--theme-text-error);margin-bottom:.5333333333rem}.card__link-footer{font-size:.8666666667rem;font-weight:400;line-height:1.2rem;position:relative;background-color:#eef6f8;background-color:var(--theme-background-secondary);padding:.8rem 1.0666666667rem;border-bottom-left-radius:8px;border-bottom-right-radius:8px}.card--empty .card__link-footer{height:2.6666666667rem}.card__link-footer-link{color:#56616c;color:var(--card__footer-link-color);display:-webkit-inline-box;display:-webkit-inline-flex;display:-moz-inline-box;display:-ms-inline-flexbox;display:inline-flex;text-decoration:none}.card__link-footer-link::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0}.card__link-footer-icon{margin-left:.2666666667rem;position:relative;top:-1px}
.heading--header-1{font-size:1.8666666667rem;font-weight:500;line-height:2.6666666667rem;letter-spacing:.01em}@media screen and (max-width: 37.5em){.heading--header-1{font-size:1.6rem;line-height:2.1333333333rem;letter-spacing:.03em}}.heading--header-2{font-size:1.4rem;font-weight:500;line-height:2.1333333333rem;margin:1.0666666667rem 0}@media screen and (max-width: 37.5em){.heading--header-2{font-size:1.2666666667rem;line-height:1.6rem}}.heading--header-3{font-size:1.1333333333rem;font-weight:500;line-height:1.6rem}.heading--header-4{font-size:1rem;font-weight:500;line-height:1.6rem}

/*# sourceMappingURL=AirAroundLocationCards-AirAroundLocationCards~ObservationsCards-ObservationsCards~WaterTemperatureCa~cebe0a9d.8f9cc98aab71771e8aa3.css.map*/